<p>reactive-form works!</p>
<form [formGroup]="formData2" (ngSubmit)="onSubmit()">
    Name: <input type="text" formControlName="name" />
    <br />
    <div *ngIf="!formData2.controls.name.valid" style="color: red;"> Name is required</div>
    <label>
        Age: <input type="text" formControlName="age" />
        <br />
        <div *ngIf="!formData2.controls.age.valid" style="color: red;"> Age is required</div>
    </label>

    <button type="submit" [disabled]="!formData2.valid">
        Save
    </button>
</form>