<div class="test">
    <h3>This is the Component Home </h3>
    <div *ngFor="let item of fruits;let i = index">
        <li>{{i+1}}. {{item}}</li>
    </div>
    <br />

    <div>
        <select id="city" (change)="changeCity($event)">
            <option *ngFor="let item of provinces">{{item.province}}</option>
        </select>
    </div>
    <div>
        <select>
            <option *ngFor="let item of cities">{{item}}</option>
        </select>
    </div>
</div>

<!-- ------------------------------------------------------- -->

<!-- <div>
        <table style="width:50%">
            <tr>

                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Discount</th>
            </tr>
            <tr *ngFor="let item of fruits2;let i = index">
                <td>{{i+1}}</td>
                <td>{{item.fName | lowercase}}</td> 
                <td style="text-align:right">
                    <span [ngClass] ="{'negative': item.fPrice<0}"> {{item.fPrice | currency:"USD"}}</span>
                </td>
                <td>
                    <span>{{item.Discount*item.fPrice/100 | onSale}}</span>
                </td>
            </tr>

        </table>
    </div> -->
<!-- ------------------------------------------------------- -->
<!-- <input type="text" [(ngModel)]="age" />
    <p>Xin Chào {{age}}</p>
    <button (click)="resetName()">Resest Tuổi</button> -->


<!-- ------------------------------------------------------- -->
<!-- <div *ngIf="age<=20;then young;else old"></div>
    <ng-template #young>
        <h2>Bạn Còn Trẻ Lắm</h2>
    </ng-template>
    <ng-template #old>
        <h2 *ngIf="age>20">Bạn Già Thế</h2>
    </ng-template> -->

<!-- ----------------------------------------------------------- -->
<!-- <input [value]="name" /><br />
    <input value="{{name}}" type="text" [title]="'this is ' + name" /> -->